<h2> Edit comment</h2>

<section class="section">
  <div class="container">
    <% @comment.each do |comment| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title"><b>Id: </b><%= comment.id %></p>
              <p class="title"><b>Text: </b><%= comment.text %></p>
            </div>
          </div>
        </div>
        <br>
    <% end %>
    </div>
  </div>
  <br>
</section>
