<h2>Add a new comment</h2>

<!--<div><b>@comment: </b> <%#= @comment %></div>-->

<%#= form_with model: @comment do |form| %>
<%#= form.text_field :user, placeholder: "user" %>
<%#= form.text_field :text, placeholder: "text" %>

<%#= form.submit %>
<%# end %>

<%#= form_for @comment do |form| %>
<%#= form.text_field :user, placeholder: 'user' %>
<%#= form.text_field :text, placeholder: 'text' %>
<%#= form.submit %>
<%# end %>


<%= simple_form_for([@article, @comment]) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.input :text %>
      <%= f.button :submit, 'Create a new comment' %>
    </div>
  </div>
<% end %>

errors: <%= @comment.errors.messages %>
</div>